.page-birds {
    &-table {
        display: grid;
        grid-template-columns: 1fr auto;

        grid-gap: 10px;

        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 42px;
    }
}
