@import "@scifeon";

.overview.color-Completed {
    padding: 2px 10px;
    background-color: $color-status-Completed;
}

.color-InProgress {
    padding: 2px 10px;
    background-color: $color-status-InProgress;
}

.color-Planned {
    padding: 2px 10px;
    background-color: $color-status-Planned;
}
