@import "@scifeon";

.b10k_contact {
    panel-body {
        display: flex;
        justify-content: flex-start;

        .left {
            min-width: 500px;
        }

        .contact, .address {
            padding-top: $padding-default;
        }

        img {
            height: 200px;
        }
    }
}
