<template>
    <footer class="sci-footer">
        <a class="sci-footer-logo" href="https://scifeon.com/" target="_blank">
            <img src="../../../../assets/images/scifeon-logo-white.png">
        </a>
        <article class="sci-footer-outro">
            <h3>Data is managed with Scifeon</h3>
            <p>
                Scifeon provide scientists with data management systems and consulting for pharmaceutical and biotech research.<br>
                Scifeon offer agility, flexibility and convenience to make a alternative to Excel as your favorite research data management tool.
            </p>
            <a href="https://scifeon.com/" target="_blank">https://scifeon.com</a>
        </article>
    </footer>
</template>
