<template>
    <header class="sci-header">
        <a class="sci-heading"
           href="/#/login"
           target="_blank">
            Scifeon
        </a>

        <nav class="sci-header-nav">
            <a class="sci-home-link"
               href="/#">
                Home
            </a>

            <a class="sci-contact-link"
            href="/#/b10k/contact">
            Contact
        </a>
        <a class="sci-login-link"
           href="/#/login">
            <i class="far fa-user"></i>
            <span>Login</span>
        </a>
        </nav>
    </header>
</template>