@import "@scifeon";

$b10k-primary-color: #00A299;
$sci-primary-color: #427F80;
$sci-primary-faded-color: #C6D8D9;
$sci-list-row-color: rgba(198,216,217, 0.25);
$sci-label-color: #333333;
$sci-text-color: #707070;
$white: #FFFFFF;
$transition: all ease-in-out 350ms;

// default overrides
* {
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
    height: 100%;
}
body {
    background-color: transparent;
    background-image: url('../assets/images/nodes-bg.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;

    &.loading {
        background-color: transparent;
    }
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(0,0,0,0.02);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $sci-list-row-color;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.08); 
}

#scifeon-boot,
#scifeon-app #scifeon-main-app {
    background-color: transparent;
}

dev-bar,
rate-site,
instance-indicator, 
live-notifications {
    display: none;
}

// scoped to B10K page
.sci {
    // main
    &-main {
        min-width: 768px;
        //max-width: 1920px;
        margin: 0 auto;
        font-family: "Roboto";
    }

    // header
    &-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 40px;
        position: relative;
        top: 0;
        z-index: 1;
        padding: 0px 16px;
        background-color: $sci-primary-color;
        background: transparent linear-gradient(270deg, #0C6465 0%, #06323380 100%) 0% 0% no-repeat padding-box;
    }
    &-heading {
        color: $white;
        font-weight: 600;
        transition: $transition;
        
        &:hover {
            opacity: 0.9;
            color: $white;
            text-decoration: none;
        }
    }
    &-login-link {
        margin: 0 0 0 auto;
        color: $white;
        transition: $transition;
        
        &:hover {
            color: $white;
            opacity: 0.9;
            text-decoration: none;

            .far {
                color: $white;
                opacity: 0.9;
            }
        }

        .far {
            margin-right: 8px; 
            color: $white;
            transition: $transition;
        }
    }

    // hero 
    &-hero {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        z-index: 0;
        top: 0;
        width: 100%;
        max-height: 700px;
        margin-top: -40px;
        overflow: hidden;
        background-color: transparent;
        background-image: url('../assets/images/hero-bg.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        
        // genome overlay
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 50%;
            height: 100%;
            opacity: 0.7;
            background-color: transparent;
            background-image: url('../assets/images/hero-dna.png');
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
        }

        // underlay
        &::after {
            content: '';
            position: absolute;
            top: 0%;
            left: 95%;
            z-index: -1;
            width: 2500px;
            height: 2500px;
            border-radius: 250px;
            opacity: 0.7;
            transform: rotate(-45deg) translateY(-50%);
            background-color: white;
        }
    }
    &-hero-intro {
        width: 50%;
        padding: 120px 240px 80px 160px;
    }
    &-hero-intro-header { 
        display: flex;
        justify-content: flex-start;
        align-items: center;

        [class*="logo"] {
            display: block;
            will-change: transform;
            transition: $transition;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &-hero-intro-content {
        h1 {
            margin-bottom: 40px;
            color: $b10k-primary-color;
            font-size: 64px;
            font-weight: 600; 
            line-height: 1;
        }
        p {
            margin-bottom: 32px;
            color: $sci-label-color;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.8;
        }
        a {
            display: block;
            color: $b10k-primary-color;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.8;
            transition: $transition;
            
            &:hover {
                opacity: 0.9;
                text-decoration: none;
            }
        }
    }

    // content wrappers
    &-content {
        position: relative;
        top: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        margin-bottom: 40px;
        padding: 0 40px;
        background-color: transparent;

        &-title {
            color: $b10k-primary-color;
            font-size: 48px;
            font-weight: 600;
        }
    }
    &-content-title {
        margin-bottom: 40px;
    }
    &-content-body {
        position: relative;
        top: 0;
        border-radius: 16px;
        box-shadow: 0 0 40px #eaeaea;
        background-color: $white;
    }

    // actions (buttons)
    &-content-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        position: absolute;
        right: 0;
        top: -20px; 
        padding: 0; 
        margin: 0;
        list-style-type: none;
    }
    &-content-action {
        margin-right: 16px;
    }
    &-content-action-button {
        min-width: 120px;
        height: 46px;
        padding: 0 16px;
        border-radius: 8px;
        color: $white;
        background-color: $sci-primary-color;
        transition: $transition;

        &:hover {
            background-color: darken($sci-primary-color, 5%) !important;
        }

        // icons
        i {
            margin-right: 8px;
        }

        // text
        span {
            font-size: 18px;
            font-weight: 400;
        }
    }

    // collapsible panel
    &-collapsible {
        padding: 64px 40px 40px 40px; 
        background-color:#FAFAFA; 
    }
    &-collapsible-header {
        justify-content: flex-start;
        border: 0 none;
        background-color: transparent;

        h4 {
            margin-bottom: 32px;
            color: $sci-label-color;
            font-size: 26px;
            font-weight: bold;
            line-height: 1;
        }
    }
    &-collapsible-content {
        border: 0 none;
        background-color: transparent;
    }
    &-collapsible-groups {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &-collapsible-group {
        min-width: 30%;
        margin: 0 20px 20px 0;
    }
    
    // checkbox
    &-checkbox-label {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            .sci-checkbox {
                border-color: $sci-primary-color;
            }
            
        }
    }
    &-checkbox-text {
        color: $sci-label-color;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
    }
    &-checkbox {
        width: 24px; 
        height: 24px;
        border-radius: 5px;
        padding: 8px; 
        margin-right: 16px;
    }
    
    // listview (scifeon data presentation)
    &-loading {

    }

    &-list-view {
        padding: 40px;

        table {
            position: relative;
            border-radius: 8px;
        }

        thead {
            th {
                position: sticky; 
                top: 0;
            }
        }

        tbody {
            overflow: auto;
        }

        th {
            padding: 8px !important;
            color: $sci-label-color !important;
            font-size: 16px !important;
            font-weight: 600 !important;
            background-color: $sci-primary-faded-color !important;

            &:hover {
                background-color: $sci-primary-faded-color !important;
            }
        }

        tr {
            &:nth-child(2n) {
                background-color: $sci-list-row-color;
            }
        }

        td {
            padding: 8px;
            background-color: transparent;
        }

        field-label {
            font-size: 15px !important;
        }

        cmp-footer {
            padding: 8px 0px;
            margin-top: 8px;
            border-radius: 8px;
            color: $sci-label-color;
            background-color: $sci-primary-faded-color;
            
            footer-content {
                justify-content: center;
            }
        }
    }
    
    // branding
    &-persistent-branding {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: sticky;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding: 20px 40px;
        box-shadow: 0 0 16px $sci-primary-color;
        background-color: rgba(255,255,255, 0.99);
    }
    &-persistent-branding-logo {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;  
        position: relative;      
        width: auto;

        &::before {
            content: '';
            width: 0;
            position: absolute;
            bottom: -8px;
            right: 0;
            width: 0;
            height: 2px;
            opacity: 0;
            background-color: $sci-primary-color;
            transition: $transition;
        }
        
        &:hover {
            text-decoration: none;

            &::before {
                width: 100%;
                opacity: 1;
            }
        }

        &:active {
            text-decoration: none;
        }
        
        &-text {
            margin-right: 8px;
            color: $sci-primary-color;
            text-decoration: none;
        }

        img {
            height: 40px;
        }
    }

    // footer
    &-footer {
        display: flex; 
        justify-content: center; 
        align-items: center;
        position: sticky; 
        bottom: -160px; 
        left: 0; 
        z-index: 1;  
        width: 100%; 
        height: 240px; 
        padding: 0 40px;
        color: $white;
        background-color:$sci-primary-color;
        background-image: radial-gradient(ellipse at center, #4B8485 0%, #4B8485 30%, transparent 30%);
        background-repeat: repeat;
        background-position: 0 0;
        background-size: 64px 64px;


        &::after {
            content: "";
            position: absolute;
            top: 8px;
            right: 8px;
            width: 0;
            height: 0;
            border-top: 24px solid $white;
            border-left: 24px solid transparent;
        }
    }
    &-footer-logo {
        height: 120px;
        margin-right: 32px;

        img {
            height: 100%;
        }
    }
    &-footer-outro {
        h3 {
            margin: -4px 0 16px 0;
            color: $white;
            font-size: 24px;
            font-weight: 600;
        }
        p {
            margin-bottom: 8px;
            color: $white;
            font-size: 16px;
            line-height: 1.6;
            opacity: 0.9;
        }
        a {
            color: $white;
            text-decoration: underline;
            font-size: 16px;
            font-weight: 600;
        }
    }

    // reponsiveness
    @media(max-width: 1690px) {
        &-hero-intro {
            padding: 80px;
        }
    }
    @media(max-width: 1440px) {
        &-hero-dna, 
        &-hero-intro {
            width: auto;
        }

        &-hero-intro-header {
            justify-content: flex-end;
        }
    }
    @media(max-width: 1020px) {
        &-hero-intro-header {
            justify-content: flex-start;
        }
    }
}
